# env files
.env
.env.local
.env.development
.env.production

# VS Code stuff
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Some build stuff
bin/*
dfs/bin/*

# test files
dfs/test-data/*
dfs/tests/integration/test_files/*
tests/*

# logs
logs/*